{% extends "../layout/default.twig" %}

{% block page %}

<div>Main page</div>

<div class="autoplay">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

{% endblock %}